{% extends 'layout.html'%}

{% block body %}
<div class="container box">
    <div class="row rtest">
        <div class="col ctest">
            <form action="/phase1" method="GET">
                <div class="input-group search-bar" style="width: 750px; margin:auto; padding-top: 25px;" >
                    <select name="mode" id="modeSelector" class="form-control">
                        {% for mode, val in modes.items() %}
                        <option value="{{ val }}">{{ mode }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append" style="width: 575px" >
                        <input name="query" class="form-control" type="search" placeholder="Free Search">
                        <button class="btn btn-outline-secondary" type="submit" style="background-color: white;">
                            <i class="fa fa-search" style="color: rgba(255, 0, 0, 0.69);"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}